#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.super {
  position: relative;
  width: 353px;
  height: 269.97px;
  background: rgb(56, 48, 48);
}

.card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 353px;
  height: 226.89px;
  border-radius: 30px;
  background: rgb(159, 202, 204);
}

